<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__column">
                <div class="footer__logo">
                    <img src="./img/logo.svg" alt="">
                </div>
                <p class="footer__text">Аренда премиальных автомобилей в Москве</p>
            </div>
            <div class="footer__column">
                <p class="footer__text">LOGO yO all Rights</p>
                <a class="footer__privacy" href="#">Политика конфиденциальности</a>
                <p class="footer__text">Дизайн и разработка - AA</p>
            </div>
            <div class="footer__column">
                <nav class="nav">
                    <ul class="nav__list--footer">
                        <li class="nav__item">
                            <a class="nav__item-link" href="#">Автомобили</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__item-link" href="#">Покупка авто</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__item-link" href="#">Личная охрана</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__item-link" href="#">Клубные карты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> <!-- .footer__wrapper -->
    </div> <!-- .container -->
</footer>