<header class="header">
    <div class="container">
        <div class="header__line">
            <div class="header__logo">
                <img class="header__logo-img" src="./img/logo.svg" alt="">
            </div>
            <div class="header__menu-wrapper">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__item-link" href="#">Автомобили</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__item-link" href="#">Покупка авто</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__item-link" href="#">Личная охрана</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__item-link" href="#">Клубные карты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__socials">
                    <a class="header__social" href="#">
                        <img class="header__social-img" src="./img/telegram.svg" alt="телеграм">
                    </a>
                    <a class="header__social" href="#">
                        <img class="header__social-img" src="./img/instagram.svg" alt="инстаграм">
                    </a>
                </div>
                <div class="header__btn">
                    <a href="#feedback" class="btn">Связаться с нами</a>
                </div>
            </div> <!-- .header__menu-wrapper -->
            <button type="button" class="burger">
                <div class="burger__icon"></div>
            </button>
        </div> <!-- .header__line -->
    </div> <!-- .container -->
</header>